body {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('img/Leonardo_Diffusion_XL_4_leaf_clover_background_for_landing_pag_0.jpg') center center no-repeat fixed;
    background-size: cover;
  }
  
  h1 {
    color: #2D7322;
    margin-bottom: 20px;
    font-size: 3rem;
    
  }
  
  label {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
  }
  
  #numeroInput {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #92D95F;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 200px; /* Reduzi a largura da barra de pesquisa */
  }
  
  #blocosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .bloco {
    margin: 10px;
    padding: 15px; /* Reduzi o padding */
    border: 2px solid #34db34;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .bloco:hover {
    transform: scale(1.05);
  }
  
  .nome {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #34db34;
  }
  
  .lote {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 10px; /* Reduzi a margem */
  }
  
  .numero {
    margin-right: 10px; /* Reduzi a margem direita */
    margin-bottom: 10px; /* Reduzi a margem inferior */
    padding: 8px 15px; /* Reduzi o padding */
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #ecf0f1;
    font-size: 1rem; /* Reduzi o tamanho da fonte */
    width: 25px; /* Reduzi a largura */
    text-align: center;
  }
  
  .highlight {
    background-color: #92D95F;
    color: #fff;
  }
  
  .soma {
    margin: 5px;
    font-size: 1remx;
    color: #555;
  }

@media (max-width: 425px) {

  h1 {
    
    margin-bottom: 2%;
    font-size: 2rem;
  }

  #numeroInput {
    padding: 2%;
    width: 50%;
  }

  .bloco {
    margin: 2%;
    padding: 2%;
    transition: none;
  }

  .lote {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    justify-content: baseline;
    
    
    
  }
  .numero {
    margin-bottom: 2%;
    padding: 2% 0%;
    font-size: 0.8rem;
    width: 25px;
    text-align: center;
}

.soma {
  margin: 5px;
  font-size: 0.8rem;
  color: #555;
}

.bloco:hover {
  transform: none;
}

 
}
  
